In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
d = os.path.dirname(os.path.dirname(os.path.abspath('')))
print(d)

/Users/jaeminko

In [3]:
styles_df = pd.read_csv(d + '/Downloads/fashion-dataset/styles.csv', on_bad_lines='skip')
styles_df.head()

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName
0,15970,Men,Apparel,Topwear,Shirts,Navy Blue,Fall,2011.0,Casual,Turtle Check Men Navy Blue Shirt
1,39386,Men,Apparel,Bottomwear,Jeans,Blue,Summer,2012.0,Casual,Peter England Men Party Blue Jeans
2,59263,Women,Accessories,Watches,Watches,Silver,Winter,2016.0,Casual,Titan Women Silver Watch
3,21379,Men,Apparel,Bottomwear,Track Pants,Black,Fall,2011.0,Casual,Manchester United Men Solid Black Track Pants
4,53759,Men,Apparel,Topwear,Tshirts,Grey,Summer,2012.0,Casual,Puma Men Grey T-shirt

In [4]:
styles_df[styles_df['gender'] == 'Men']['usage'].value_counts()

Casual          16769
Sports           2954
Formal           2235
Ethnic            107
Smart Casual       54
Party               2
Travel              2
Name: usage, dtype: int64

In [6]:
N_PICS = 200

N_CLASSES = np.sum((styles_df['baseColour'].value_counts().to_numpy() > N_PICS ) &
                   (styles_df['articleType'].value_counts().to_numpy() > N_PICS))

styles_df['baseColour'].value_counts()

ValueError: operands could not be broadcast together with shapes (46,) (143,)

In [12]:
color_count = styles_df['baseColour'].value_counts()
article_count = styles_df['articleType'].value_counts()

In [16]:
to_remove_color = color_count[color_count <= 200].index
to_remove_article = article_count[article_count <= 200].index

filtered_df = styles_df[(~styles_df['baseColour'].isin(to_remove_color)) & (~styles_df['articleType'].isin(to_remove_article))]
filtered_df['articleType'].value_counts()

Tshirts                  6870
Shirts                   3160
Casual Shoes             2753
Watches                  2504
Sports Shoes             2030
Kurtas                   1714
Handbags                 1658
Tops                     1600
Heels                    1243
Sunglasses               1008
Flip Flops                904
Wallets                   896
Sandals                   861
Belts                     787
Briefs                    763
Backpacks                 720
Socks                     682
Formal Shoes              620
Jeans                     606
Perfume and Body Mist     595
Shorts                    529
Trousers                  496
Flats                     473
Dresses                   433
Earrings                  410
Bra                       400
Sarees                    389
Deodorant                 340
Track Pants               295
Caps                      281
Sweatshirts               279
Lipstick                  277
Nail Polish               273
Sweaters                  270
Clutches                  266
Jackets                   252
Ties                      251
Innerwear Vests           227
Kurtis                    218
Tunics                    213
Name: articleType, dtype: int64

In [ ]:
# TODO: Zip label like (Gender, baseColour, articleType) for each data.

# Then convert into data - label pair.

In [17]:
filtered_df['image'] = filtered_df.apply(lambda row: str(row['id']) + ".jpg", axis=1)
filtered_df

/var/folders/dx/2k7pj8y12fbg573svnby_g4h0000gn/T/ipykernel_7572/3390442019.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['image'] = filtered_df.apply(lambda row: str(row['id']) + ".jpg", axis=1)

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName,image
0,15970,Men,Apparel,Topwear,Shirts,Navy Blue,Fall,2011.0,Casual,Turtle Check Men Navy Blue Shirt,15970.jpg
1,39386,Men,Apparel,Bottomwear,Jeans,Blue,Summer,2012.0,Casual,Peter England Men Party Blue Jeans,39386.jpg
2,59263,Women,Accessories,Watches,Watches,Silver,Winter,2016.0,Casual,Titan Women Silver Watch,59263.jpg
3,21379,Men,Apparel,Bottomwear,Track Pants,Black,Fall,2011.0,Casual,Manchester United Men Solid Black Track Pants,21379.jpg
4,53759,Men,Apparel,Topwear,Tshirts,Grey,Summer,2012.0,Casual,Puma Men Grey T-shirt,53759.jpg
...,...,...,...,...,...,...,...,...,...,...,...
44419,17036,Men,Footwear,Shoes,Casual Shoes,White,Summer,2013.0,Casual,Gas Men Caddy Casual Shoe,17036.jpg
44420,6461,Men,Footwear,Flip Flops,Flip Flops,Red,Summer,2011.0,Casual,Lotto Men's Soccer Track Flip Flop,6461.jpg
44421,18842,Men,Apparel,Topwear,Tshirts,Blue,Fall,2011.0,Casual,Puma Men Graphic Stellar Blue Tshirt,18842.jpg
44422,46694,Women,Personal Care,Fragrance,Perfume and Body Mist,Blue,Spring,2017.0,Casual,Rasasi Women Blue Lady Perfume,46694.jpg
44423,51623,Women,Accessories,Watches,Watches,Pink,Winter,2016.0,Casual,Fossil Women Pink Dial Chronograph Watch ES3050,51623.jpg